
@import url('content.css');
@import url('about.css');
@import url('skills.css');
@import url('proyects.css');
@import url('footer.css');


*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

html {
    scroll-behavior: smooth;
  }

body{
    background-image: url(../img/background_header.png);
    background-repeat: no-repeat;
    background-size: contain ;

}

h1,h2,h3,h4,p{
    letter-spacing: 2px;
}